{%  extends 'base.html.twig' %}
{% block title  %}Symfony Users{% endblock %}


{% block body %}

    {#<h1>{{ user.name }}</h1>#}
    {#<p>{{ user.description }}</p>#}
    {#<hr>#}
    {#<a href="/">Go Back</a>#}

{% endblock %}
